:root {
    --login-regerter-form-paddings: .9375rem;

    --forny-color-accent-500: hsla(201, 78%, 46%, 1);
    --forny-color-accent-700: hsla(202, 82%, 40%, 1);

    --forny-color-gray-100: hsla(0, 0%, 96%, 1);
    --forny-color-gray-300: hsla(0, 0%, 0%, 0.16);
    --forny-color-gray-700: hsla(0, 0%, 61%, 1);
    --forny-color-gray-500: hsla(0, 0%, 69%, 1);
    --forny-color-gray-700: hsla(0, 0%, 61%, 1);
    --forny-color-gray-900: hsla(0, 0%, 23%, 1);

    --forny-font-family: 'Open Sans', sans-serif;
    --forny-color-text: var(--forny-color-gray-700);
    --forny-color-header: var(--forny-color-gray-900);
    --forny-link-color: var(--forny-color-accent-700);

    --login-regerter-form-control-border: none;
    --login-regerter-form-control-padding: var(--forny-p2) var(--forny-p4);
    --login-regerter-form-control-radius: 12px;
    --login-regerter-form-control-background: var(--forny-color-gray-100);
    --forny-shadow-color: var(--forny-color-gray-300);
}

.login-regerter-inner {
    display: block;
    height: auto;
}
.signup-form,.login-form{
    padding: 15px;
}
.login-regerter-form {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #888!important;
}

.forny-logo {
    color: hsla(0, 0%, 61%, 1);
    color: var(--forny-color-gray-700);
}

@media (min-width: 768px) {
    .forny-logo {
        color: white;
    }
    .login-regerter-form {
        box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16);
        box-shadow: var(--forny-shadow);
    }
}

.login-regerter-form a {
    font-size: 0.875rem;
    font-size: var(--forny-text-sm);
}

/* FORMS */

.login-regerter-form .form-group {
    margin-bottom: 1rem;
    margin-bottom: var(--forny-p4);
    background: hsla(0, 0%, 96%, 1);
    background: var(--login-regerter-form-control-background);
    border-radius: 12px;
    border-radius: var(--login-regerter-form-control-radius);
    transition: box-shadow 0.3s;
}

.login-regerter-form .form-group.focused:not(.has-error) {
    background: white;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.16);
    box-shadow: 0 1px 4px var(--forny-color-gray-300);
}

.login-regerter-form .form-control,
.login-regerter-form .input-group-text {
    color: hsla(0, 0%, 61%, 1);
    color: var(--forny-color-gray-700);
    background: transparent;
}

.login-regerter-form .form-control::-webkit-input-placeholder {
    color: hsla(0, 0%, 61%, 1);
    color: var(--forny-color-gray-700);
}

.login-regerter-form .form-control::-moz-placeholder {
    color: hsla(0, 0%, 61%, 1);
    color: var(--forny-color-gray-700);
}

.login-regerter-form .form-control:-ms-input-placeholder {
    color: hsla(0, 0%, 61%, 1);
    color: var(--forny-color-gray-700);
}

.login-regerter-form .form-control::-ms-input-placeholder {
    color: hsla(0, 0%, 61%, 1);
    color: var(--forny-color-gray-700);
}

.login-regerter-form .form-control::placeholder {
    color: hsla(0, 0%, 61%, 1);
    color: var(--forny-color-gray-700);
}

.login-regerter-form-container
    .custom-control-input:checked
    ~ .custom-control-label::before {
    border-color: hsla(201, 78%, 46%, 1);
    border-color: var(--forny-color-accent-500);
    background-color: hsla(201, 78%, 46%, 1);
    background-color: var(--forny-color-accent-500);
}

/* BUTTONS */

.login-regerter-form .btn {
    border-radius: 12px;
    border-radius: var(--login-regerter-form-control-radius);
    font-weight: bold;
    padding: 0.5rem 1rem;
    padding: var(--forny-p2) var(--forny-p4);
}

.login-regerter-form-container .line {
    background: hsla(0, 0%, 69%, 1);
    background: var(--forny-color-gray-500);
    height: 1px;
    margin-top: 12px;
    text-align: center;
}
.login-regerter-form-container .line span {
    background: #fff;
    padding: 8px;
    position: relative;
    top: -12px;
}

.login-regerter-form-container .btn-icon.btn-flat {
    width: 32px;
    height: 32px;
}

.forms-tabs ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #000;
}
.forms-tabs ul li{
    flex: 1;
    text-align: center;

}
.forms-tabs ul li.active{
    background: linear-gradient(to right,#415165 0,#265294d4 26%,#173b71 73%,#4f5d7a 100%);
    color: #fff;
    text-align: center;
    padding: 5px;
}
.forms-tabs ul li.loginActive.active{
    border-top-left-radius: 5px;
}
.forms-tabs ul li.signupActive.active{
    border-top-right-radius: 5px;
}